<div class="card" data-search-hikes-target="list">
  <h1>Liste des circuits</h1>
    <% @hikes.each do |hike| %>
      <li><strong><%= hike.name %></strong></li>
      <li>Description: <%= hike.description %></li>
      <li>Durée: <%= hike.time %></li>
    <% end %>
</div>
