<div class="top-page">
  <h2><span data-controller="typed-js"></span></h2>
</div>

<div class="container text-center mt-3">
  <div class="row">
    <div class="col-12">
      <h1>Mettre à jour: <%= @hike.name %></h1>
      <%= render 'form' , hike: @hike %>
    </div>
  </div>
</div>
