<div class="top-page">
  <h2><span data-controller="typed-js"></span></h2>
</div>

<div class="container text-center my-5">
  <h1 class="mt-2">Créer un nouveau circuit:</h1>
  <%= render 'form' , hike: @hike %>
</div>
