<h1>New hike</h1>
<%= render 'form' , hike: @hike %>

<h2>Locations</h2>

<div data-controller="search-location">
  <%= simple_form_for @location, html: { data: {search_location_target: 'form', action: 'submit->search-location#update'} } do |f| %>
    <%= f.input :address, input_html: { "data-search-location-target" => "input"} %>
    <%= f.submit %>
  <% end %>
  <div data-search-location-target="card">
    <ul data-search-location-target="list">
    </ul>
  </div>

</div>
