.mapboxgl-ctrl-geocoder {
  max-width: none;
  width: 100% !important;
  margin: 0 !important;
  border-bottom: 1px solid lightgrey !important;
  box-shadow: none;
  background-color: white !important;
}

.mapboxgl-ctrl-geocoder--icon-search {
  width: 0px !important;
}
