.footer {
  position: fixed;
  height: 6rem;
  bottom: 0;
  left: 0;
  width: 100%;
  border-top: 1px solid $orange;
  font-size: 24px;

  h6 {
  margin-top: 2px;
  font-size: 18px;
  }

  .container {
    padding-top: 7px;
  }

  a {
    text-decoration: none;
    color: $pale-pink;
  }

  img {
    width: 80px;
    vertical-align: top;

    &:hover {
      width: 80px;
    }
  }

}

.footer-item {
  text-align: center;
  padding-top: 7px;

  &:hover {
    cursor: pointer;
    font-size: 20px;
    color: $orange;
  }
}

.footer-item a:hover {
    cursor: pointer;
    font-size: 20px;
    color: $orange;
}

.footer .dropup {
  padding-top: 7px;
  align-items: center;
  text-align: center;

  &:hover {
    cursor: pointer;
    font-size: 20px;
    color: $orange;
  }
}

.footer .dropdown-menu {
  background-color: $dark-blue;
  color: white;
}

.footer .dropdown-item {

  &:hover {
    background-color: $light-orange;
    color: white;
    font-size: 14px;
  }
}

.nav-user{
  display: block;
  width: 100%;
  padding: var(--bs-dropdown-item-padding-y) var(--bs-dropdown-item-padding-x);
  font-weight: 400;
  color: white;
  text-align: inherit;
}
