body {
  color: $dark-blue;
}

.footer {
  color: $pale-pink;
  background-color: $dark-blue;
}

.dark-background {
  background-color: $dark-blue;
}

.pale-background {
  background-color: $pale-pink;
}
