.hike-cards {
  margin-top: 14px;
  font-size: 14px;
  text-decoration: none;
}

.hike-card {
  text-decoration: none;
  color: $dark-blue;

  &:hover {
    text-decoration: none;
    color: $dark-blue;
  }
}

.hike-card .hike-image {
  background-position: center;
  background-size: cover;
  height: 250px;
  border-radius: 10px;
  display: flex;
  justify-content: right;
  padding: 16px;
  box-shadow: 0 2px 2px rgba(0,0,0,0.2);
  }

.hike-card .hike-image {
  font-size: 28px;
  color: rgb(100, 100, 100);
  opacity: 0.8;
  -webkit-text-stroke: 1px white;
}

.hike-image-show{
  border-radius: 10px;
  display: flex;
  justify-content: center;
  height: 10rem;
  width: 100%;
}

.hike-card .hike-info p {
  margin: 0px;
  color: rgb(140, 140, 140);
}

.card-show{
  display: flex;
  align-items: center;
  height: 300px;
  background-size: cover;
  background-position: center;
}

.card-show img{
  width: 100%;
  height: 250px;
  margin-bottom: Opx;
  opacity: 0.3;
}

.card-show h1{
  margin-top: 0;
  margin-bottom: 10px;
  color: #fff;
  font-size: 36px;
  padding: 0 24px;
  font-weight: 500;
  font-family: 'Brush Script MT', cursive;
}

.card-show-actions{
  background: white;
  border-bottom: 1px solid #e8e9ea;
  display: flex;
}

.card-show-actions .card-txt{
  border-right: 2px solid #f8f8f9;
  flex: 1 1 100%;
  padding: 5px 0;
  text-align: center;
}

.card-txt:first-child {
  border-left: 2px solid #f8f8f9;
  flex: 1 1 100%;
  padding: 5px 0;
  text-align: center;
}

.card-txt h6{
  padding-top: 5px;
}

.card-txt p{
  margin-bottom: 5px;
}
