.hike-cards {
  margin-top: 14px;
  font-size: 14px;
  text-decoration: none;
}

.hike-card {
  position: relative;
  z-index: 0;

  a {
    text-decoration: none;
    color: $dark-blue;
  }

  .favorite-icon {
    position: absolute;
    z-index: 1;
    right: 1em;
    top: 1em;
  }
}

.hike-card .hike-image {
  background-position: center;
  background-size: cover;
  height: 250px;
  border-radius: 10px;
  display: flex;
  justify-content: right;
  padding: 16px;
  box-shadow: 0 2px 2px rgba(0,0,0,0.2);
  }

.hike-image-show{
  border-radius: 10px;
  display: flex;
  justify-content: center;
  height: 10rem;
  width: 100%;
}

.hike-card .hike-info p {
  margin: 0px;
  color: rgb(140, 140, 140);
}

#orange {
  color: $orange;
  opacity: 0.85;
  font-size: 28px;
  -webkit-text-stroke: 1px white;
}

#grey {
  opacity: 0.70;
  color: rgb(100, 100, 100);
  font-size: 28px;
  -webkit-text-stroke: 1px white;
}
