.map-show{
  margin-bottom: 4em;
  display: block;
  position: relative;
}

.mapboxgl-popup {
  max-width: 200px;
}
.mapboxgl-popup-content {
  text-align: center;
  font-family: "Open Sans", sans-serif;
}
.customMarker {
  background: url('Logo_walkerz_V5.png') no-repeat center;
  background-size: cover;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
}

.mapbox-directions-component{
  display: none ;
}

.map-container {
  position: relative;
}

.fullscreen {
  position: fixed!important;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  height: 100%!important;
  width: auto!important;
}

.mapboxgl-canvas{
  height: 100%!important;
  width: auto!important;
}

// Partie pour rendre moins large la div de la navigation guidée
// Pour pouvoir mettre les deux btn à côté
.directions-control.directions-control {
  width: 100%!important;
  max-width: 96%!important;
}
