.gold {
  color: #FFD700;
}

.silver {
  color: #C0C0C0;
}

.bronze {
  color: #cd7f32;
}

.fa-trophy {
  font-size: 160px;
}

.trophy {
  margin-top: 240px;
}

.achievement-text {
  margin-top: 60px;
  font-size: 24px;
}
